<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="./js/jquery-2.2.0.js"></script>
    <script src="./js/handlebars-v4.0.11.js"></script>
    <script src="./js/product.js"></script>
    <title>学生列表</title>
</head>
<body>

      <table id="product-table-tepl">

      </table>
      <a >添加</a>
      <script id="entry-template" type="text/x-handlebars-template">
          <tr>
              <td>学号</td>
              <td>姓名</td>
              <td>年龄</td>
              <td>性别</td>
          </tr>
          {{#each this}}
          <tr>
              <td>{{sid}}</td>
              <td>{{sname}}</td>
              <td>{{sage}}</td>
              <td>{{gender}}</td>
              <td><a href="deltStu.action&id={{sid}}">删除</a></td>
              <td><a href="updatestu.action&id={{sid}}">修改</a></td>
          </tr>
          {{/each}}
      </script>
<script>

    $.ajax({
        type: 'get',
        url: 'funStuAll.action',
        dataType:"JSON",
        success: function (data) {
            var source   = $("#entry-template").html();
            var template = Handlebars.compile(source);

            Handlebars.registerHelper("myCount" , function(index){
                return index + 1 ;
            });
            var html=template(data.obj);
            document.getElementById("product-table-tepl").innerHTML = html;
        }
    });
</script>

</body>
</html>